{%load static%}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5>Данные брони</h5>
	  </div>
		<form bookingmodal action="/booking/new" method="POST">
		  {%csrf_token%}
			<div class="modal-body" bookingmodal >
			</div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
		<button type="submit" class="btn btn-primary">Бронировать</button>
	  </div>
		</form>
	</div>
  </div>
</div>