{%load static%}
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			  <h5>Представьтесь</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
            <form action="{% url 'authapp:login' %}" method="POST">
		  <div class="modal-body">
              {%csrf_token%}
              {{login_form.as_p}}
              <ul style="list-style: none;">
                  <li>
                      <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  </li>
              </ul>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
			<button type="submit" class="btn btn-primary">Войти</button>
		  </div>
            </form>
		</div>
	  </div>
	</div>