{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">
			<img class="logo" src="{% static 'images/logowhite.png'%}">
          </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item
	          {%if request.path == '/' %}active{%endif%}
                "><a href="/" class="nav-link">Главная</a></li>
	          <li class="nav-item {%if request.path == '/rules/' %}active{%endif%}"><a href="{% url 'mainapp:rules' %}" class="nav-link">Наши правила</a></li>
	          <li class="nav-item"><a href="/#prices" class="nav-link">Цены</a></li>
	          <li class="nav-item {%if request.path == '/giftcards/' %}active{%endif%}"><a href="{% url 'mainapp:giftcards' %}" class="nav-link">Подарочные карты</a></li>
	          <li class="nav-item {%if request.path == '/games/' %}active{%endif%}"><a href="{% url 'mainapp:games' %}" class="nav-link">Игры</a></li>
	          <li class="nav-item {%if request.path == '/news/' %}active{%endif%}"><a href="{% url 'mainapp:newslist' %}" class="nav-link">Новости</a></li>

				<li class="nav-item {%if request.path == '/contact/' %}active{%endif%}"><a href="{% url 'mainapp:contact' %}" class="nav-link">Контакты</a></li>

	        </ul>
          </div>
        </div>
    </nav>
{% endblock %}