{% load i18n %}

<div id="CookielawBanner">
    <div class="container">
        <h6>Соглашение об использовании cookie-файлов</h6>
        <p>
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">Принимаю</a>
            <!--{% trans "COOKIE_INFO_PARA" %}-->
            Наш сайт сохранит анонимные идентификаторы (cookie-файлы) на ваше устройство. Это способствует персонализации контента, а также используется в статистических целях. Вы можете отключить использование cookie-файлов, изменив настройки Вашего браузера. Пользуясь этим сайтом при настройках браузера по умолчанию, вы соглашаетесь на использование cookie-файлов и сохранение информации на Вашем устройстве.
        </p>
    </div>
</div>

