{% extends 'mainapp/base.html' %}
{% load static %}
{% block body %}

<section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
					<div class="col-md-4 contact-info ftco-animate fadeInUp ftco-animated">
						<div class="row">
							<div class="col-md-12 mb-4">
	              <h2 class="h4">Контактная информация</h2>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Адрес:</span> г. Москва, Звенигородское шоссе, 4</p>
                    <p>ТЦ Электроника на Пресне, павильоны Д2-Д8, зеленая линия.</p>
					<p>1. Центральный вход со стороны Звенигородского шоссе, проходите по синей линии до поворота на зеленую линию.</p>
					<p>2. На повороте на зеленую линию вы увидите наши стеклянные двери.</p>

	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Телефон:</span> <a href="tel:+74994507707">+ 7 499 450 7707</a></p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Email:</span> <a href="mailto:lesorubmoscow@gmail.com">lesorubmoscow@gmail.com</a></p>
	            </div>
						</div>
					</div>
					<div class="col-md-1"></div>
          <div class="col-md-6 ftco-animate fadeInUp ftco-animated">
            <h5>Оставьте заявку на игру</h5>
					<form bookform
						  onsubmit="ym(52873213, 'reachGoal', 'RESERVE'); return true;"
						  action="book/"
						  class="appointment-form">
					{%csrf_token%}
					<div class="form-group ">
						<input type="tel" class="form-control" maxlength="15"
							   placeholder="Ваш телефон"
							   required
							   name="phone">
					</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<div class="input-wrap">
		            				<div class="icon"><span class="ion-md-calendar"></span></div>
		            				<input type="text" name="date" class="form-control appointment_date" placeholder="Дата">
	            				</div>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<div class="input-wrap">
									<div class="icon"><span class="ion-ios-clock"></span></div>
									<input type="text" name="time" class="form-control appointment_time" placeholder="Время">
								</div>
							</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              			<textarea name="comments" id="" cols="30" rows="2" class="form-control" placeholder="Примечания"></textarea>
		            		</div>
							<div class="form-group ml-md-4">
							  <input type="submit" value="Отправить заявку" class="btn btn-primary py-3 px-4" data-toggle="tooltip" title="Бронирование онлайн временно не работает. Пишите нам на почту или звоните.">
							</div>
						</div>
				</form>
			  		{% if 1 == 0 %}
			  			<form callme1 action="callme">
						<div class="form-group ml-md-4">
							<input type="tel" class="form-control" maxlength="15"
								   placeholder="Ваш телефон"

								   required
									name="myphone1">
							{%csrf_token%}
						</div>
						<div class="form-group ml-md-4">
						  <input type="submit" value="Перезвоните мне"  class="btn btn-primary py-3 px-4" data-toggle="tooltip">
						</div>
						</form>
			  		{%endif%}
			  <!--
			  <form action="#" class="contact-form" aria-disabled="true">
            	<div class="row">
            		<div class="col-md-6">
	                <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Имя">
	                </div>
                </div>
                <div class="col-md-6">
	                <div class="form-group">
	                  <input type="text" class="form-control" placeholder="Email">
	                </div>
	                </div>
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>
              </div>
                <div class="form-group">
                    <input type="checkbox" name="agreement"> Я прочитал <a href="{% url 'mainapp:privacy'%}">политику обработки персональных данных</a> и даю согласие на их обработку.
                </div>
              <div class="form-group">
                <input type="submit" disabled data-toggle="tooltip" title="отправка сообщений временно не работает. Пишите нам на почту" value="Отправить" class="btn btn-primary py-3 px-5">
              </div>
            </form>
            -->
          </div>
        </div>
      </div>
    </section>
<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate fadeInUp ftco-animated">
				<a class='gallery img d-flex align-items-center'
				   style="background-image: url('{%static 'images/route1.jpg'%}')"></a>
			</div>
			<div class="col-md-3 ftco-animate fadeInUp ftco-animated">
				<a class='gallery img d-flex align-items-center'
				   style="background-image: url('{%static 'images/route4.jpg'%}')"></a>
			</div>
			<div class="col-md-3 ftco-animate fadeInUp ftco-animated">
				<a class='gallery img d-flex align-items-center'
				   style="background-image: url('{%static 'images/route3.jpg'%}')"></a>
			</div>
			<div class="col-md-3 ftco-animate fadeInUp ftco-animated">
				<a class='gallery img d-flex align-items-center'
				   style="background-image: url('{%static 'images/route5.jpg'%}')"></a>
			</div>
		</div>
	</div>
</section>
<div ftco-section ftco-no-pb>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adfa5da600774540d748688e9a6347d72a470e19523197343d2c00cd720ec36bf&amp;source=constructor" width="100%" height="500em" frameborder="0"></iframe>
</div>
{% include 'mainapp/includes/footer.html' %}
{% include 'mainapp/includes/js.html' %}
{%endblock%}