{% extends 'mainapp/base.html' %}
{% load static %}
{% block body %}
<section class="ftco-section ftco-no-pb">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="pr-md-5">
    				<div class="heading-section text-md-right ftco-animate fadeInUp ftco-animated">
	            <h2 class="mb-4">Правила посещения топор-клуба "Лесоруб"</h2>
	            <p class="mb-4">
                    Дорогие гости, поскольку метание топоров - новый вид отдыха в России, мы решили помочь Вам и разработали свод правил,
                    которые помогут обеспечить безопасность вам и вашим друзьям, а также другим посетителям топор-клуба "Лесоруб".
                    Если вы планируете метать топоры, играть в дартс или же другие игры в нашем клубе, просим вас заранее
                изучить эти правила, чтобы сэкономить ваше время при регистрации и избежать недоразумений. Полные правила <a href="{% static 'files/rules.pdf' %}">здесь</a>.</p>
	          </div>
    			</div>
    			<div class="">
                    <h4>Общие правила посещения</h4>
    				<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon4-contract"></span>
							</div>
							<div class="text ml-5">
								<h3>Документы</h3>
								<p>Всех посетителей мы просим взять с собой удостоверение личности (паспорт). Он понадобится при регистрации на игру при соглашения об участии в игре.
									Образец соглашения об участии в игре вы можете найти <a href="{% static 'files/game_agreement.pdf' %}">здесь</a>.
                                </p>
							</div>
  					</div>
					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon4-pluseighteen"></span>
							</div>
							<div class="text ml-5">
								<h3>Возраст</h3>
								<p>Мы допускаем к играм детей от 12 до 16 лет только в присутствии родителей. Дети с 16 до 18 лет допускаются только при наличии письменного разрешения одного из родителей (законного представителя).
                                </p>
							</div>
  					</div>

					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-boots"></span>
							</div>
							<div class="text ml-5">
								<h3>Дресс-код - закрытая обувь</h3>
								<p>Мы разрешаем игрокам находиться в зоне метания топоров только в
                                закрытой обуви. Это означает, что мы не допускаем метать топоры или играть в дартс в тапочках, шлепках, сандалиях, сланцах, сабо и т.д.
                                Также мы не рекомендуем приходить в одежде, стесняющей движения.
                                   Инструктор имеет право попросить игрока снять тот или иной элемент одежды,
                                    если он может повлечь за собой опасность для самого игрока или его партнера по игре.
                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-woman"></span>
							</div>
							<div class="text ml-5">
								<h3>Инвентарь - только наш</h3>
								<p>Мы разрешаем пользоваться в топор-клубе только нашими топорами, дротиками, мишенями.
                                Соответственно, заранее просим вас не приходить со своим топором, ножом или дротиками.</p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-booze"></span>
							</div>
							<div class="text ml-5">
								<h3>Алкоголь и курение</h3>
								<p>Приходить в топор-клуб в состоянии алкогольного или наркотического опьянения строго запрещено.
                                Принимающий администратор или инструктор во время инструктажа имеют право отстранить игрока от
                                    участия в играх, если посчитают что он находится в состоянии алкогольного или наркотического
                                    опьянения. Мы делаем это исключительно в интересах безопасности вас и других гостей клуба.
                                </p>
                                <p>Мы также запрещаем употреблять крепкие алкогольные напитки на территории клуба.
                                Находясь в клубе, мы настоятельно просим умеренно употреблять слабые алкогольные напитки в целях безопасности
                                    Вас и других посетителей клуба.
                                    Мы оставляем за собой право ограничить продажу гостям слабоалкогольных напитков посетителям в случаях, если сочтем
                                    что это может сказаться на безопасности.
                                    Игрокам, оплатившим метание топоров, игру в дартс или духовую трубку,
                                    клуб продает только 0,5 л слабоалкогольных напитков в 1 час нахождения в клубе.
                                </p>
                                <p>
                                    Курение сигарет или вейпов на территории клуба также запрещено.
                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-delivery"></span>
							</div>
							<div class="text ml-5">
								<h3>Еда и напитки - можете приносить свою</h3>
								<p>Топор-клуб "Лесоруб" разрешает гостям приходить со своей едой. У нас нет кухни, а
                                метание топоров как и любой активный отдых пробуждает зверский аппетит. По этому
                                мы приветствуем, если гости приходят со своей едой в одноразовых контейнерах или
                                заказывают доставку прямо в клуб. Единственное, что мы просим гостей в этом случае - соблюдать
                                чистоту и убирать за собой.</p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-polite"></span>
							</div>
							<div class="text ml-5">
								<h3>Вежливость</h3>
								<p>
                                    Мы уверены в воспитанности наших гостей, по этому ожидаем, что все посетители:
                                <ul>
                                    <li>будут соблюдать все правила заведения, в том числе относительно спортивного инвентаря, игровых зон;</li>
                                    <li>будут вести себя в соответствии с общими правилами приличия, не оскорблять других посетителей и персонал;</li>
                                    <li>будут вести себя безопасно по отношению к себе, другим посетителям и персоналу.</li>
                                </ul>
                                Если же мы ошибемся в ком-то из гостей при нарушении этих
                                правил персонал (инструктор, администратор, охрана или дежурный кот)
                                могут дисквалифицировать посетителя от дальнейшей игры.
                                Денежные средства в таком случае не возвращаются.
                                При повторных нарушениях, мы можем ввести запрет на активную игру в нашем заведении или
                                ввести полный запрет на его посещение.
                                </p>
							</div>
  					</div>
    			    <h4>Правила поведения в игровых зонах</h4>
                    <div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon1-teacher"></span>
							</div>
							<div class="text ml-5">
								<h3>Инструкторы</h3>
                                <p>В обязанности инструктора входит проведение инструктажа по мерам безопасности,
                                    контроль за состоянием топоров. Они должны быть достаточно наточены, чтобы попасть в мишень, но не на столько, чтобы ими можно было порезаться.
                                Инструкторы также следят за общим ходом игр, подсказывают игрокам как безопасно и весело провести время, рассказывают о правилах игры, мониторят мини-игры и челленджи клуба.
                                    В вопросах безопасности на территории клуба слово инструктора - закон, и мы ожидаем, что посетители будут это уважать.
                                    Инструктор имеет право отстранять игроков при нарушении правил поведения в клубе.
                                </p>
							</div>
  					</div>

                    <div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon3-target"></span>
							</div>
							<div class="text ml-5">
								<h3>Арены метания топоров</h3>
                                <p>Метать топоры разрешается только в мишени, Мишени сгруппированы по 2 в «арены» и отделены друг от друга металлической сеткой.</p>
                                    <p>Игрокам разрешается бросать топоры только после прохождения инструктажа по безопасности и технике броска.
                             <p>Разрешается одновременное нахождение до 2 человек в арене.</p>
                            </div>
  					</div>
                    <div class="program d-flex ftco-animate fadeInUp ftco-animated">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon1-axe"></span>
						</div>
						<div class="text ml-5">
							<h3>Топоры и метание</h3>
							<p>Топоры также могут находиться только в арене, выходить с топорами из арены запрещено.</p>
							<p>Для комфортной игры мы предлагаем игрокам в одной арене бросать топоры одновременно на счет «три».
								<p>Разрешено брать топор только за рукоятку.</p>
								<p>Разрешено совершать броски только, если в соседних аренах и мишенях игроки не находятся рядом с мишенью.</p>
							<p>Разрешено бросать топор только в присутствии инструктора в игровой зоне.</p>
							<p>Забирать топор или дротик от мишени можно только после броска соседа по арене.</p>
							<p>Если топор или дротик попал в мишень и остался в ней, следует сначала вытащить его. Запрещено садиться под мишень,
								поднимать любые предметы перед мишенью, если в ней находится топор или дротик.</p>
							</p>
						</div>
  					</div>
                </div>
    		</div>
    	</div>
    </section>
{% include 'mainapp/includes/footer.html' %}
{% include 'mainapp/includes/js.html' %}
{%endblock%}