{% extends 'mainapp/base.html' %}
{% load static %}
{% block body %}

	<!-- Timetable -->
<div class='super_container'>
	<div class="timetable">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/timetable.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">Добро пожаловать в топор-бар "Лесоруб"</div>
						<div class="section_title">Бронирование арены</div>
					</div>
					<div class="timetable_filtering">
						<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
							{%for room in rooms%}
								<li class="item_filter_btn
									{% if room.id == 1%}
										active
									{%endif%}
								" data-filter=".{{room.name}}">Арена "{{room.rusname}}"</li>
							{%endfor%}
						</ul>
					</div>
					<div class="timetable_container d-flex flex-sm-row flex-column align-items-start justify-content-sm-between justify-content-start">
						<!-- Monday -->
						{%for day in days%}
							<div class="tt_day" day="{{day.date}}">
								<div class="tt_title" >{{day.date}}</div>
								<div class="tt_day_content grid">
									{% for slot in day.slots %}
										{% if slot.vacant > 0 %}
											<div
												{% if not slot.active %}
													style="display:none;"
												{%endif%}
													class="tt_class grid-item {{slot.arena}}"
												arena="{{ slot.arena_rusname }}"
												bookingtime="{{ slot.time }}"
												slots="{{ slot.vacant }}">
												<div class="tt_class_title" >Выбрать</div>
												<div class="tt_class_instructor">
													{{slot.vacant}} места
												</div>
												<div class="tt_class_time">{{ slot.time }}</div>
											</div>
										{% else %}
											<div class="tt_class empty grid-item" style="
											{% if not slot.active %}
													display:none;
												{%endif%}
											position: absolute; left: 0%; top: 153px;
											">
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- footer -->
{% include 'mainapp/includes/footer.html' %}
</div>
{% include 'mainapp/includes/booking_modal.html' %}
<link rel="stylesheet" href="{% static 'css/services1.css' %}">
<link rel="stylesheet" href="{% static 'css/services_responsive.css' %}">
{% include 'mainapp/includes/js.html' %}
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/booking.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<a id="bookingtop" data-toggle='modal' data-target="#exampleModalCenter"></a>
{% endblock %}