{% load static %}

<section class="ftco-appointment" id="contactinformation">
	<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
    			<div class="col-md-6 d-flex align-self-stretch">
    				<div id="map">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adfa5da600774540d748688e9a6347d72a470e19523197343d2c00cd720ec36bf&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>

					</div>
    			</div>
	    		<div class="col-md-6 appointment ftco-animate callme1">
	    			<h3>Как нас найти</h3>
					<p>Наш адрес: Москва, Звенигородское шоссе, д. 4</p>
					<p>Мы находимся на станции метро улица 1905 года, на территории Торгового центра "Электроника на Пресне".</p>
					<p>Зеленая линия, павильоны Д2-Д8.</p>
					<p>1. Центральный вход со стороны Звенигородского шоссе, проходите по синей линии до поворота на зеленую линию.</p>
					<p>2. На повороте на зеленую линию вы увидите наши стеклянные двери.</p>


					<h3 class="mb-3">Забронировать игру</h3>
                    <h5>Позвоните нам <a href="tel:+74994507707">+7 499 450 7707</a></h5>
					<h5>или оставьте заявку сейчас</h5>
					{% if 1 == 0 %}
						<form callme1 action="callme">
							<div class="form-group ml-md-4">
								<input type="tel" class="form-control" maxlength="15"
									   placeholder="+7"

									   required
										name="myphone1">
								{%csrf_token%}
							</div>
							<div class="form-group ml-md-4">
							  <input type="submit" value="Перезвоните мне"  class="btn btn-primary py-3 px-4" data-toggle="tooltip">
							</div>
						</form>
					{% endif %}
	    			<form bookform action="book/" onsubmit="ym(52873213, 'reachGoal', 'RESERVE'); return true;" class="appointment-form">
					{%csrf_token%}
					<div class="form-group ">
						<input type="tel" class="form-control" maxlength="15"
							   placeholder="Ваш телефон"
							   required
							   name="phone">
					</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<div class="input-wrap">
		            				<div class="icon"><span class="ion-md-calendar"></span></div>
		            				<input type="text" name="date" class="form-control appointment_date" placeholder="Дата">
	            				</div>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<div class="input-wrap">
									<div class="icon"><span class="ion-ios-clock"></span></div>
									<input type="text" name="time" class="form-control appointment_time" placeholder="Время">
								</div>
							</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              			<textarea name="comments" cols="30" rows="2" class="form-control" placeholder="Примечания"></textarea>
		            		</div>
							<div class="form-group ml-md-4">
							  <input type="submit" value="Отправить заявку" class="btn btn-primary py-3 px-4" data-toggle="tooltip" title="Бронирование онлайн временно не работает. Пишите нам на почту или звоните.">
							</div>
						</div>
				</form>

	    		</div>
    		</div>
    	</div>
    </section>