{%load static%}

<section class="ftco-section">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-md-6 pr-md-5">
    				<div class="heading-section text-md-right ftco-animate fadeInUp ftco-animated">
	          	<span class="subheading"></span>
	            <h2 class="mb-4">Краткие правила поведения</h2>
	            <p class="mb-4">Мы разработали ряд простых правил, чтобы все посетители чувствовали себя комфортно и безопасно в нашем клубе.
                    Перед входом в игровую зону мы просим всех игроков без исключения подписать согласие с правилами поведения в клубе.
                    Обращаем Ваше внимание, что при не соблюдении правил клуба персонал имеет право отказать в допуске к играм или попросить покинуть клуб.
                    Вот краткая выжимка из них.
                </p>
	            <p><a href="{% url 'mainapp:rules' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Полные правила топор-клуба "Лесоруб"</a></p>
	          </div>
    			</div>
    			<div class="col-md-6">
    				<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon4-pluseighteen"></span>
							</div>
							<div class="text ml-5">
								<h3>Берите с собой паспорт</h3>
								<p>Перед оплатой и входом в игоровую зону мы попросим Вас подписать ознакомиться с правилами клуба,
									техникой безопасности и подписать форму ознакомления с ними. Для этого Вам понадобится паспорт. Не забудьте его!
                                </p>
							</div>
  					</div>

					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-booze"></span>
							</div>
							<div class="text ml-5">
								<h3>Приходить в клуб можно только трезвым</h3>
								<p>Мы допускаем в наш топор-клуб только трезвых посетителей. Если Вы уже приняли на грудь,
                                    наш сотрудник будет иметь право отказать Вам в допуске к метанию топоров и духовой трубке.
                                    Со временем мы можем пересмотреть нашу политику в отношении слабого алкоголя в игровой зоне.
                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-boots"></span>
							</div>
							<div class="text ml-5">
								<h3>Допускается носить только закрытую обувь</h3>
								<p>По соображениям безопасности мы настоятельно рекомендуем Вам приходить к нам в закрытой обуви.
                                Мы приветствуем ботинки, сапоги, ботфорты, ботильоны и т.д., но не разрешим Вам метать топоры в шлепках, сандалиях или тапочках.
                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon1-axe"></span>
							</div>
							<div class="text ml-5">
								<h3>Свои топоры запрещены</h3>
								<p>Поскольку топор является предметом бытовым, мы допускаем, что у Вас может быть с собой парочка
                                в Вашей дамской сумочке или дипломате. Однако мы не разрешаем находиться в игровой зоне посетителям со своими топорами, пилами, дрелями и т.д.
                                    Равно как и вход с холодным или огнестрельным оружием в топор-клуб также запрещен.
                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-delivery"></span>
							</div>
							<div class="text ml-5">
								<h3>BYOF -  приносите свою еду</h3>
								<p>Метание топоров не только весело, но и утомительно. Но у нас нет своей кухни, чтобы Вас накормить.
                                Поэтому мы приветствуем, если Вы принесете свою еду или закажете доставку прямо к нам.
                                    Единственная просьба при этом: соблюдать чистоту и порядок и убирать за собой.
                                    Пока мы можем предложить Вам только безалкогольные напитки и воду.

                                </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon2-polite"></span>
							</div>
							<div class="text ml-5">
								<h3>Будьте вежливы и слушайтесь инструктора</h3>
								<p>Метание топров, дартс или распил бревна - это соревновательные развлечения. Вокруг Вас будут
                                такие же люди, которые хотят весело провести время. И потому важнейшим правилом нашего клуба является
                                вежливость по отношению к другим игрокам и посетителям клуба.
                                </p>
							</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>