{% load static %}
<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4">Вы должны это попробовать!</h2>
            <p>Метание топров - это новый уровень развлечений. </p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url({% static 'images/instructor.jpg'%});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading"></span>
	    					<h3>Безопасно</h3>
	    					<p>Метать топоры в топор-клубе Лесоруб безопасно.
								Мы предоставляем отдельные арены на 2 человека, которые защищают игроков и зрителей, и инструкторов, которые обучат и проследят за Вашей безопасностью.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url({% static 'images/flyingaxe.jpeg'%});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading"></span>
	    					<h3>Интересно</h3>
	    					<p>Вы можете просто кидать топоры в мишень, соревноваться в меткости с друзьями и другими игроками, участвовать в клубных соревнованиях и получать призы за меткость, скорость и настойчивость.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img order-xl-last" style="background-image: url({% static 'images/3axes.jpg'%});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading"></span>
	    					<h3>Азартно</h3>
	    					<p>Соревнуйтесь в результатах со всеми игроками клуба, участвуйте в мини-играх, получайте призы и подарки за свои результаты.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img order-xl-last" style="background-image: url({% static 'images/double.jpeg'%});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading"></span>
	    					<h3>Весело</h3>
	    					<p>Приходите с друзьями, попробуйте себя в нелегком деле лесоруба - поставьте рекорд в скорости распила бревна!</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    		</div>
    	</div>
    </section>
