{% load static %}
<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					{%for post in posts%}
					<div class="col-md-3 ftco-animate">
						<a href="https://instagram.com/p/{{post.code}}/" class="gallery img d-flex align-items-center"
						   style="background-image: url(https://instagram.com/p/{{post.code}}/media/?size=m)">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					{%endfor%}

        </div>
    	</div>
    </section>