{% load static %}
<section class="home-slider owl-carousel ">
  <div class="slider-item"
        style="background-image: url('/static/images/lesoryb.jpg');">

    <div class="overlay"></div>
    <div class="container">

      <div class="row slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-8 col-sm-12 ftco-animate"></div>
        <div class="col-md-4 col-sm-12 ftco-animate callmeslider">
          <h1 class="mb-4">Топор-клуб Лесоруб</h1>
          <p class="mb-4 mb-md-5">Пожалуй самый крутой отдых в Москве сегодня. Сыграйте в дартс топорами.</p>

            {%if false %}
              <p><button id="get_cardwidget" type="button" class="btn btn-primary py-3 px-4">Купить электронную подарочную карту</button>
            </p>
                {%else%}
              <form bookform action="book/"
					  onsubmit="ym(52873213, 'reachGoal', 'RESERVE'); return true;"
					  class="appointment-form">
					{%csrf_token%}
					<div class="form-group ">
						<input type="tel" class="form-control" maxlength="15"
							   placeholder="Ваш телефон"
							   required
							   name="phone">
					</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<div class="input-wrap">
		            				<div class="icon"><span class="ion-md-calendar"></span></div>
		            				<input type="text" name="date" class="form-control appointment_date" placeholder="Дата">
	            				</div>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<div class="input-wrap">
									<div class="icon"><span class="ion-ios-clock"></span></div>
									<input type="text" name="time" class="form-control appointment_time" placeholder="Время">
								</div>
							</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              			<textarea name="comments" cols="30" rows="2" class="form-control" placeholder="Примечания"></textarea>
		            		</div>
							<div class="form-group ml-md-4">
							  <input type="submit" value="Отправить заявку" class="btn btn-primary py-3 px-4" data-toggle="tooltip" title="Бронирование онлайн временно не работает. Пишите нам на почту или звоните.">
							</div>
						</div>
				</form>
            {%endif%}

        </div>
      </div>
    </div>

  </div>
  <div class="slider-item"
        style="background-image: url('/static/images/pair.jpg');">

    <div class="overlay"></div>
    <div class="container">

      <div class="row slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-8 col-sm-12 ftco-animate"></div>
        <div class="col-md-4 col-sm-12 ftco-animate callmeslider2">
          <h1 class="mb-4">Топор-клуб Лесоруб</h1>
          <p class="mb-4 mb-md-5">Твоя девушка поймет, кто здесь самый классный!
            Метать топоры на свидании - она удивится, ты будешь в восторге!</p>
          <p>
            <form callmeslider2 action="callme">
              {%csrf_token%}
              <div class="form-group">
                  <input type="tel" class="form-control phone" maxlength="15"
                         placeholder="+7"
                         required
                         name="myphoneslider"
                         style="background-color: grey !important;"
                  >
              </div>
              <div class="form-group ml-md-4">
                <input type="submit" value="Бронирую игру"  class="btn btn-primary py-3 px-4" data-toggle="tooltip" >
              </div>
            </form>
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
<script type="text/javascript" src="https://lesorub.digift.ru/script"></script>
    <script type="text/javascript">document.addEventListener("DOMContentLoaded", function() { IframeWidgetFunctional.init('#get_cardwidget'); });
</script>