{% load static %}
<section class="ftco-section ftco-bg-dark">
    <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Что такое - метание топоров?</h2>
        <p>Вероятно Вы никогда не слышали о метании топоров. Мы не только расскажем Вам об этом, но и объясним как это делать и дадим попробовать.</p>
        <p>Первый вопрос, который прийдет Вам в голову скорее всего будет: "Разве это безопасно?" И наш ответ: "Конечно же да!"
            При соблюдении нескольких простых правил метание топоров не только безопасный, но и безумно веселый способ провести время!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon1-teacher"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Пройти инструктаж</h3>
            <p>Перед каждой игровой сессией инструктор расскажет Вам как безопасно вести себя во время метания топоров,
              о правилах топор-клуба и покажет как метать топоры.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon1-safety"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Следовать правилам безопасности</h3>
            <p>Мы разработали ряд правил соблюдение которых, обеспечит безопасность и комфорт для Вас и других посетителей топор-клуба "Лесоруб".
            <a href="{% url 'mainapp:rules' %}">Читать правила</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon1-axe"></span></div>
          <div class="media-body">
            <h3 class="heading">Веселиться</h3>
            <p>Топор-клуб "Лесоруб" - в первую очередь развлекательное заведение.
                И хотя метание топоров приобретает все большую популярность в мире как вид спорта,
                мы видим это как способ повеселиться и отдохнуть.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>